.App {
  text-align: center;
}

.line {
  line-height: 2;
}

.name-container {
  display: flex;
  justify-content: space-between;
}

.forms {
  justify-content: center;
  text-align: center;
  padding: '20px';
  align-items: center;
  min-height: auto;
  background-color: #0c3359;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 black !important;
  width: 300px;
  height: 350px;
  transition: 0.3s;
  opacity: 100;
  box-shadow: 0.56s ease-in-out;
  background-color: whitesmoke;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 14px 0 black !important;
  cursor: pointer !important;
}

.names {
  outline: auto;
}

.span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.name-left {
  text-align: left;
}

.name-right {
  text-align: right;
}

.buttons {
  background-color: #282c34;
  color: aliceblue;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.buttons:hover {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.861) !important;
}

.App-header {
  background-color: rgb(221, 208, 200);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
}

.formatted-paragraph {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.5;
  margin: 10px;
  padding: 20px;
}